# We now combine FLAIR with LVR

#### Helper functions

In [33]:
from web3 import Web3
import time
import requests
from datetime import datetime

# Initialize a Web3 instance
w3 = Web3(Web3.HTTPProvider('https://eth-mainnet.g.alchemy.com/v2/OV2Uqs1tC70MAtl88BcFArffiXobkx6T'))

# get timestamp for a given block
def get_timestamp(block_number):
    block = w3.eth.get_block(block_number)
    return block.timestamp * 1000

# get timestamp for current time
def get_current_timestamp():
    return int(time.time()) * 1000

# get block from timestamp using llama fi endpoint https://coins.llama.fi/block/ethereum/{timestamp}

def get_block_from_timestamp(timestamp):
    url = f"https://coins.llama.fi/block/ethereum/{timestamp}"
    try:
        response = requests.get(url)
        data = response.json()
        block_number = data["height"]
        return block_number
    except requests.exceptions.RequestException as e:
        print("Error occurred:", e)
        return None
    
def get_date(timestamp):
    return datetime.fromtimestamp(timestamp/1000).strftime('%Y-%m-%d')   

def get_eth_price():
    url = "https://api.coingecko.com/api/v3/simple/price"
    params = {
        "ids": "ethereum",
        "vs_currencies": "usd"
    }

    try:
        response = requests.get(url, params=params)
        data = response.json()
        eth_price = data["ethereum"]["usd"]
        return eth_price
    except requests.exceptions.RequestException as e:
        print("Error occurred:", e)
        return None
    
def get_coin_historical(timestamp,address):
    url = f"https://coins.llama.fi/prices/historical/{timestamp}/ethereum:{address}?searchWidth=4h"
    try:
        response = requests.get(url)
        data = response.json()
        return data['coins'][f'ethereum:{address}']['price']
    except requests.exceptions.RequestException as e:
        print("Error occurred:", e)
        return None

### Google BigQuery for Eth Block Timestamps

In [29]:
from google.cloud import bigquery
import pandas as pd

def get_block_timestamps(start_block, end_block):
    # Create a BigQuery client
    client = bigquery.Client(project="range-eth-research")

    # Define your query with a parameterized range of block numbers
    query = """
        SELECT number, timestamp
        FROM `bigquery-public-data.crypto_ethereum.blocks`
        WHERE number >= @start_block AND number < @end_block
    """

    # Create a query job configuration
    job_config = bigquery.QueryJobConfig()
    job_config.query_parameters = [
        bigquery.ScalarQueryParameter("start_block", "INT64", start_block),
        bigquery.ScalarQueryParameter("end_block", "INT64", end_block)
    ]

    # Execute the query with the job configuration
    query_job = client.query(query, job_config=job_config)

    # Fetch the results
    results = query_job.result()

    # Convert the results to a DataFrame
    df = pd.DataFrame(columns=["Block", "Timestamp"])
    for row in results:
        # Access the block number and timestamp values
        block_number = row["number"]
        timestamp = row["timestamp"].timestamp()
        df = df._append({"Block": int(block_number), "Timestamp": int(timestamp)}, ignore_index=True)

    return df

# Example usage: Get block timestamps from block number 17400393 to 17400395
start_block = 17400393
end_block = 17400395
timestamps_df = get_block_timestamps(start_block, end_block)

In [63]:
import pandas as pd

# Getting FLAIR data from csv 
flair = pd.read_csv("Range_LQTYETH_FLAIR_453456.csv")
flair = flair.drop(flair.columns[0], axis=1)

In [64]:
# Getting LVR data from csv
lvr = pd.read_csv("Range_LQTYETH_453456_LVR_17285193_17673993.csv")

In [65]:
import concurrent.futures

def apply_date(block_number):
  return get_date(get_timestamp(block_number))

def apply_timestamp(block_number):
  return get_timestamp(block_number)

with concurrent.futures.ThreadPoolExecutor() as executor:
    flair['timestamp'] = list(executor.map(apply_timestamp, flair['blockNumber']))
    flair['date'] = list(executor.map(apply_date, flair['blockNumber']))

In [66]:
# create a df called flair_daily which contains the last row of a given date within the flair df
flair_daily = flair.groupby('date').tail(1)
flair_daily

,flair,totalFee0,totalFee1,blockNumber,timestamp,date
13,0.000430,23.319363,0.016389,17287362,1684424135000,2023-05-18
65,0.002006,130.323882,0.061097,17294550,1684511663000,2023-05-19
94,0.002903,175.448816,0.098075,17300730,1684586783000,2023-05-20
121,0.003839,231.533463,0.130361,17308781,1684684727000,2023-05-21
173,0.005296,320.496328,0.180425,17315826,1684770587000,2023-05-22
204,0.005973,382.810323,0.188939,17322928,1684857047000,2023-05-23
244,0.007926,477.122030,0.273672,17329973,1684942547000,2023-05-24
268,0.009767,562.747468,0.355828,17336717,1685024495000,2023-05-25
305,0.019218,1075.712351,0.728329,17344211,1685115563000,2023-05-26
340,0.023275,1294.391690,0.888342,17351037,1685198327000,2023-05-27
371,0.027094,1521.425192,1.027159,17358315,1685286611000,2023-05-28
422,0.033226,1849.767049,1.273822,17365534,1685374127000,2023-05-29
459,0.036012,2028.289244,1.368327,17372627,1685460479000,2023-05-30
496,0.038094,2168.945947,1.435509,17379826,1685547899000,2023-05-31
522,0.040264,2276.885556,1.530734,17386604,1685630315000,2023-06-01
540,0.040758,2309.431395,1.547189,17393248,1685711327000,2023-06-02
570,0.041492,2340.673046,1.582489,17401100,1685806799000,2023-06-03
602,0.042578,2408.801599,1.620369,17408244,1685893943000,2023-06-04
627,0.045181,2589.665641,1.701037,17415357,1685980799000,2023-06-05
734,0.052860,3103.237143,1.968604,17422354,1686066047000,2023-06-06
793,0.055441,3303.398757,2.043871,17429462,1686152675000,2023-06-07
840,0.058942,3594.414758,2.137495,17436143,1686234107000,2023-06-08
874,0.059766,3654.696626,2.164378,17443703,1686326243000,2023-06-09
1060,0.071513,5764.665369,2.734622,17450706,1686411455000,2023-06-10
1133,0.075484,6041.436440,2.883397,17457833,1686498179000,2023-06-11
1211,0.085967,6871.770519,3.224356,17464986,1686585239000,2023-06-12
1234,0.086389,6897.844237,3.241407,17471608,1686665819000,2023-06-13
1262,0.087729,6976.550885,3.297607,17478965,1686755255000,2023-06-14
1463,0.096076,7527.000347,3.609483,17486044,1686841355000,2023-06-15
1527,0.101098,7967.414185,3.748728,17493084,1686926831000,2023-06-16
1582,0.102790,8101.492757,3.802527,17500363,1687015007000,2023-06-17
1616,0.105290,8290.468731,3.887472,17507448,1687100795000,2023-06-18
1634,0.105775,8343.311588,3.896342,17512099,1687157171000,2023-06-19
1656,0.106238,8379.961309,3.911528,17521618,1687272683000,2023-06-20
1762,0.112500,8786.620975,4.153575,17529059,1687362911000,2023-06-21
1865,0.115639,9041.305755,4.248506,17535366,1687439423000,2023-06-22
1890,0.116468,9098.990503,4.279304,17543219,1687534823000,2023-06-23
1993,0.128974,10074.467676,4.687423,17550290,1687620731000,2023-06-24
2098,0.131261,10229.244531,4.772756,17557499,1687708283000,2023-06-25
2179,0.138039,10707.621736,5.014325,17564241,1687790291000,2023-06-26
2229,0.139112,10789.883744,5.049722,17571615,1687880195000,2023-06-27
2267,0.141769,11000.366203,5.136174,17578865,1687967987000,2023-06-28
2347,0.148905,11623.652873,5.344871,17585993,1688054231000,2023-06-29
2385,0.152008,11854.663403,5.454009,17592944,1688138411000,2023-06-30
2439,0.153661,11973.363670,5.513639,17600040,1688224631000,2023-07-01
2476,0.154981,12080.751274,5.554795,17607294,1688312723000,2023-07-02
2554,0.156740,12188.936196,5.625958,17614122,1688395619000,2023-07-03
2600,0.158119,12282.766460,5.677631,17621510,1688485307000,2023-07-04
2632,0.159656,12398.956765,5.729066,17628704,1688572499000,2023-07-05
2674,0.161856,12550.266258,5.811141,17635796,1688658563000,2023-07-06
2699,0.163291,12654.132321,5.862512,17642729,1688742647000,2023-07-07
2716,0.164346,12727.935291,5.901592,17649315,1688822615000,2023-07-08
2750,0.165452,12815.745168,5.937735,17655499,1688897783000,2023-07-09
2795,0.166782,12908.847782,5.987374,17664169,1689003155000,2023-07-10
2834,0.169138,13053.135537,6.084458,17671359,1689090467000,2023-07-11
2923,0.172471,13239.800181,6.227966,17674481,1689128375000,2023-07-12

In [67]:
# combine flair and lvr data on date
combined = pd.merge(flair_daily, lvr, on='date', how='inner')

In [68]:
# create a column called totalFee_USD
combined['totalFee_USD'] = combined['totalFee0'] * combined['token0_usd'] + combined['totalFee1'] * combined['token1_usd']

# drop timestamp, totalFee0, totalFee1
combined = combined.drop(['timestamp', 'totalFee0', 'totalFee1'], axis=1)
combined

,flair,blockNumber,date,block,daily_LVR_USD,cumulative_LVR_USD,token0_usd,token1_usd,in_range,totalFee_USD
0,0.000430,17287362,2023-05-18,17285193,103.671258,103.671258,1.340000,1826.78,True,61.187583
1,0.002006,17294550,2023-05-19,17292393,73.207763,175.781459,1.320000,1807.44,True,282.456318
2,0.002903,17300730,2023-05-20,17299593,67.810869,244.286725,1.310000,1814.58,True,407.803777
3,0.003839,17308781,2023-05-21,17306793,112.692400,357.066630,1.300000,1815.23,True,537.627858
4,0.005296,17315826,2023-05-22,17313993,78.572091,435.864933,1.290000,1816.38,True,741.160486
5,0.005973,17322928,2023-05-23,17321193,94.387406,539.706902,1.300000,1855.78,True,848.282917
6,0.007926,17329973,2023-05-24,17328393,72.014134,600.437032,1.250000,1816.98,True,1093.658983
7,0.009767,17336717,2023-05-25,17335593,86.990834,677.358786,1.240000,1786.51,True,1333.497609
8,0.019218,17344211,2023-05-26,17342793,54.853687,741.877057,1.250000,1812.00,True,2664.372631
9,0.023275,17351037,2023-05-27,17349993,67.838084,815.266936,1.280000,1825.56,True,3278.542527
10,0.027094,17358315,2023-05-28,17357193,83.006116,907.213675,1.250000,1845.58,True,3797.485577
11,0.033226,17365534,2023-05-29,17364393,76.490174,1011.865332,1.290000,1902.87,True,4810.117636
12,0.036012,17372627,2023-05-30,17371593,50.627740,1068.549790,1.260000,1914.26,True,5174.978792
13,0.038094,17379826,2023-05-31,17378793,66.055743,1107.113929,1.180000,1865.01,True,5236.594353
14,0.040264,17386604,2023-06-01,17385993,103.360537,1207.322325,1.200000,1859.70,True,5578.969372
15,0.040758,17393248,2023-06-02,17393193,73.680648,1300.771196,1.220000,1890.15,True,5741.925869
16,0.041492,17401100,2023-06-03,17400393,66.984481,1376.764007,1.250000,1903.24,True,5937.697829
17,0.042578,17408244,2023-06-04,17407593,78.703775,1457.059216,1.260000,1905.44,True,6122.605521
18,0.045181,17415357,2023-06-05,17414793,163.760892,1590.500392,1.200000,1865.79,True,6281.377332
19,0.052860,17422354,2023-06-06,17421993,112.570260,1672.680662,1.068000,1830.14,True,6917.078598
20,0.055441,17429462,2023-06-07,17429193,104.539686,1790.134649,1.022000,1844.27,True,7145.522996
21,0.058942,17436143,2023-06-08,17436393,41.681713,1843.900914,1.041000,1856.72,True,7710.515654
22,0.059766,17443703,2023-06-09,17443593,54.294681,1891.869574,1.025000,1850.35,True,7750.921335
23,0.071513,17450706,2023-06-10,17450793,92.130175,1869.905807,0.795844,1738.76,True,9342.626382
24,0.085967,17464986,2023-06-12,17457993,69.744778,1943.500606,0.841632,1742.34,True,11401.426287
25,0.086389,17471608,2023-06-13,17465193,41.960095,1977.830995,0.877125,1735.50,True,11675.733912
26,0.087729,17478965,2023-06-14,17472393,129.733140,2109.547094,0.880235,1737.24,True,11869.739154
27,0.096076,17486044,2023-06-15,17479593,114.375386,2224.323202,0.881663,1737.57,True,12908.006754
28,0.101098,17493084,2023-06-16,17486793,72.281222,2166.747586,0.824056,1636.13,True,12699.001065
29,0.102790,17500363,2023-06-17,17493993,60.351735,2302.611626,0.848943,1693.15,True,13315.953754
30,0.105290,17507448,2023-06-18,17501193,79.168211,2421.680983,0.850791,1722.49,True,13749.587135
31,0.105775,17512099,2023-06-19,17508393,50.112030,2499.559908,0.850707,1742.24,True,13886.076354
32,0.106238,17521618,2023-06-20,17515593,68.335074,2557.780476,0.837659,1735.19,True,13806.794834
33,0.112500,17529059,2023-06-21,17522793,97.465247,2724.880489,0.858821,1782.43,True,14949.591939
34,0.115639,17535366,2023-06-22,17529993,99.778111,2967.351634,0.997647,1875.77,True,16989.252362
35,0.116468,17543219,2023-06-23,17537193,96.859773,3078.686138,0.913287,1884.92,True,16376.136014
36,0.128974,17550290,2023-06-24,17544393,120.715773,3239.859361,0.961211,1909.69,True,18635.214007
37,0.131261,17557499,2023-06-25,17551593,96.529089,3300.642419,0.960244,1888.62,True,18836.492660
38,0.138039,17564241,2023-06-26,17558793,107.495189,3425.404368,0.971029,1898.50,True,19917.107104
39,0.139112,17571615,2023-06-27,17565993,113.866668,3459.720823,0.936501,1854.41,True,19468.992723
40,0.141769,17578865,2023-06-28,17573193,69.217457,3594.292771,0.940361,1889.44,True,20048.807681
41,0.148905,17585993,2023-06-29,17580393,102.234741,3585.185550,0.892642,1830.91,True,20161.739239
42,0.152008,17592944,2023-06-30,17587593,110.515721,3734.002570,0.889470,1850.47,True,20636.847158
43,0.153661,17600040,2023-07-01,17594793,70.526181,3964.606149,0.917406,1929.80,True,21624.656350
44,0.154981,17607294,2023-07-02,17601993,75.202485,4022.880272,0.940462,1921.56,True,22035.359816
45,0.156740,17614122,2023-07-03,17609193,64.997114,4091.268936,0.943722,1923.18,True,22322.697149
46,0.158119,17621510,2023-07-04,17616393,60.559541,4222.839280,0.987794,1956.56,True,23241.469290
47,0.159656,17628704,2023-07-05,17623593,100.969449,4288.887470,0.990292,1940.38,True,23395.152594
48,0.161856,17635796,2023-07-06,17630793,83.541788,4301.411233,0.936295,1908.25,True,22839.861465
49,0.163291,17642729,2023-07-07,17637993,53.483643,4239.033465,0.906926,1856.85,True,22362.167527
50,0.164346,17649315,2023-07-08,17645193,41.759851,4308.804701,0.905091,1869.12,True,22550.722824
51,0.165452,17655499,2023-07-09,17652393,40.474801,4335.678477,0.897629,1863.22,True,22567.090415
52,0.166782,17664169,2023-07-10,17659593,64.847561,4397.361344,0.890178,1861.86,True,22638.823571
53,0.169138,17671359,2023-07-11,17666793,135.169803,4579.696511,0.903095,1881.83,True,23238.136889
54,0.172471,17674481,2023-07-12,17673993,181.948419,4754.976757,1.002000,1879.09,True,24969.187554

In [69]:
# save combined df to csv
combined.to_csv('Range_LQTYETH_FLAIR_LVR_453456.csv')