In [40]:
import requests
import json

url = "https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3"

query = """
query($positionId: String!, $blockNumber: Int!) {
  position(id: $positionId, block: {number: $blockNumber}) {
    id
    collectedFeesToken0
    collectedFeesToken1
    liquidity
    depositedToken0
    depositedToken1
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
"""

query_variables = {
    "positionId": "453456",
    "blockNumber": 17316679
}

headers = {"Content-Type": "application/json"}

data = {
    "query": query,
    "variables": query_variables
}

response = requests.post(url, headers=headers, json=data)
data = response.json()
print(data)

# # Parse and access the position data
# position = data["data"]["position"]
# position_id = position["id"]
# collected_fees_token0 = position["collectedFeesToken0"]
# collected_fees_token1 = position["collectedFeesToken1"]
# liquidity = position["liquidity"]
# token0_id = position["token0"]["id"]
# token0_symbol = position["token0"]["symbol"]
# token1_id = position["token1"]["id"]
# token1_symbol = position["token1"]["symbol"]

# # Print the retrieved data
# print("Position ID:", position_id)
# print("Collected Fees Token0:", collected_fees_token0)
# print("Collected Fees Token1:", collected_fees_token1)
# print("Liquidity:", liquidity)
# print("Token0 ID:", token0_id)
# print("Token0 Symbol:", token0_symbol)
# print("Token1 ID:", token1_id)
# print("Token1 Symbol:", token1_symbol)

{'data': {'position': {'id': '453456', 'collectedFeesToken0': '0', 'collectedFeesToken1': '0', 'liquidity': '16710699527998922821997', 'depositedToken0': '344687.818185699057688261', 'depositedToken1': '137.06445273854783091', 'token0': {'id': '0x6dea81c8171d0ba574754ef6f8b412f2ed88c54d', 'symbol': 'LQTY', 'decimals': '18'}, 'token1': {'id': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2', 'symbol': 'WETH', 'decimals': '18'}}}}

In [33]:
data["data"]["positions"][1]

{'id': '10',
 'collectedFeesToken0': '0',
 'collectedFeesToken1': '0',
 'liquidity': '39095558843543104',
 'depositedToken0': '0.000322256929184412',
 'depositedToken1': '0.00689999999999999',
 'token0': {'id': '0x23b608675a2b2fb1890d3abbd85c5775c51691d5',
  'symbol': 'SOCKS',
  'decimals': '18'},
 'token1': {'id': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2',
  'symbol': 'WETH',
  'decimals': '18'}}

In [31]:
# convert data to a dataframe
import pandas as pd
df = pd.DataFrame(data["data"]["positions"])
drop = ["token0", "token1"]
df.drop(drop, axis=1, inplace=True)
df.head()

,id,collectedFeesToken0,collectedFeesToken1,liquidity,depositedToken0,depositedToken1
0,1,0,0,383995753785830744,0.999999999999999924,0.01264381746197226
1,10,0,0,39095558843543104,0.000322256929184412,0.00689999999999999
2,100,0,0,464824267666178749,0,0.005
3,1000,0.481427138536777453,1399.901041,8624291877397,0.499999999732311552,1496.807588
4,10000,0,0,1143323808949,0.000999999999999912,0

## Get Range Positions

In [35]:
url = "https://api.thegraph.com/subgraphs/name/0xbateman/ethereum-uniswap"

query = """
  query getRangePositions($vaultAddress: String!) {
    positions(where: { id_contains: $vaultAddress }) {
      id
      openedATBlock
      closedAtBlock
      token0Amount
      token1Amount
      upperTick
      lowerTick
      priceSqrtAtOpening
      vault {
        token0
        token1
        pool
      }
    }
  }

  """

query_variables = {
    "vaultAddress": "0x350D81A7733Ee6b001966e0844A0ebb096FAbF0f"
}

headers = {"Content-Type": "application/json"}

data = {
    "query": query,
    "variables": query_variables
}

response = requests.post(url, headers=headers, json=data)
data = response.json()

print(data)

{'data': {'positions': []}}